<ion-content [fullscreen]="true">
  <div class="contenedor">

    <ion-menu menuId="first-menu" contentId="main-content">
      <ion-header>
        <ion-toolbar>
          <ion-title>Menú</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-item routerLink="/home">Inicio</ion-item>
        <ion-item routerLink="/login">Cerrar sesión</ion-item>
      </ion-content>
    </ion-menu>

    <div class="ion-page" id="main-content">
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-menu-button autoHide="false"></ion-menu-button>
          </ion-buttons>
          <ion-title id="contres" style="width: fit-content; font-weight: 500;"> RegistrApp</ion-title>
          <ion-icon slot="end" id="logoopc" src="/assets/icon/user.svg" alt="Logo" routerLink="/credencial"></ion-icon>         
        </ion-toolbar>
      </ion-header>
      <ion-content>
        
        <div class="imagen">
          <img src="assets/img/universitarios.png" alt="FondoInicio">
        </div>

        <div class="contenedorSec">
          <h6>Escanear codigo QR</h6>
          <div class="lineaSeparadora"></div>
        </div>



        
        <div>
          
          
          <div class="cuadro">
            <h4 (click)="scan()">¡Abrir cámara para registrar asistencia!.</h4>
            <div class="lineaSeparadora3"></div>
            <img (click)="scan()" src="assets/img/camaracodigo.png" alt="FondoInicio" class="imagen-encima">
          </div>
        </div>
        <div class="lineaSeparadora4"></div>

        <div class="footer">
          <p>RegistrApp Todos los derechos</p>    
        </div>
      </ion-content> 
    </div> 
  </div> 
</ion-content>
