:root{
    --fondoimagen:url('../assets/img/RegistrAppp2.png');
    --fondo1: #fafafc;
    --menu: #8B0000;
    --fondo-input: #ffffff;
    --placeholder: #939393;
    --boton1: #821313;
    --boton2: #c03737;
    --fondoseclogin: #ffffff7b;
    --colortext:#2e3239;
    --texto-boton: #ffffff;
    --textos: #1c1e21;
    --table:#f0f0f0;
    --tema: #ffffff;
    --inputs: #fff;
    --logocredencial: #f8f4f4;
    --colortitulo: #900000;
    --colorlinea:#a10707;
    --table-container:#fdfbfb;
    --dayh6:#333;
    --scechule: #333;
    --colorlinea2:#900000;
    --contres:#fff;
    --separador:#000;
    --labels:#000;
    --inputc:#000;
    --colorfondotabla:#a20707;
    --colorfooter: #710202;
    --fondosec:#004d95;
    --th:#ac0404;
    --conten2: #a20707;
    --colorcuadrocam:#910505;
    --lin:#890303;
    --button2:#67626291;
    --fondoarriba: #710202;
    --colorbarra:#c3bdbd;
} 

