<ion-content [fullscreen]="true"> 
  <div class="contenedor">
    <ion-menu menuId="first-menu" contentId="main-content">
      <ion-header>
        <ion-toolbar>
          <ion-title>Menú</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-item routerLink="/home">Inicio</ion-item>
        <ion-item routerLink="/login">Cerrar sesión</ion-item>
      </ion-content>
    </ion-menu>

    <div class="ion-page" id="main-content">
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-menu-button autoHide="false"></ion-menu-button>
          </ion-buttons>
          <ion-title id="contres" style="width: fit-content; font-weight: 500;">
            RegistrApp
          </ion-title>
          <ion-icon slot="end" id="logoopc" src="/assets/icon/user.svg" (click)="openModal()" alt="Logo"></ion-icon>
        </ion-toolbar>
      </ion-header>

      <ion-content>
        <div class="imagen">
          <img src="assets/img/universitarios.png" alt="FondoInicio">
        </div>

        <div class="contenedorSec">
          <h6>INGENIERIA EN INFORMATICA</h6>
          <div class="lineaSeparadora"></div>
        </div>

        <div class="contenedorTabla">
          <table>
            <thead>
              <tr>
                <th>Asignatura</th>
                <th>Docente</th>
                <th>Hora</th>
                <th>Fecha</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let asistencia of asistencias">
                <td *ngIf="asistencia.alumno==user.nombre">{{ asistencia.ramo }}</td>
                <td *ngIf="asistencia.alumno==user.nombre">{{ asistencia.docente }}</td>
                <td *ngIf="asistencia.alumno==user.nombre">{{ asistencia.hora_inicio }}</td>
                <td *ngIf="asistencia.alumno==user.nombre">{{ asistencia.hora | date:'dd/MM/yyyy HH:mm' }}</td>
               
              </tr>
              
            </tbody>
          </table>
        </div>

        <div class="footer">
          <p>RegistrApp Todos los derechos</p>
        </div>

      </ion-content>
    </div>
  </div>
</ion-content>
